body {
  font-family: 'Roboto-Light', sans-serif;
  color: #000000;
  font-size: 1.75em;
}

h1 {
  margin-top: .5em;
  font-size: 1.5em;
  border-bottom: 1px solid black;
  font-family: 'RobotoBold', sans-serif;
  color:  #02242e;
  text-transform: capitalize;
}

h2 {
  margin-top: 0.75em;
  font-size: 1.25em;
  font-family: 'RobotoBold', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

h3 {
  font-size: 1.1em;
  font-family: 'RobotoBold', sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-family: 'RobotoBold', sans-serif;
  font-weight: bold;
}
table {
  font-size: 80%;
}

.center, .plotly, .math.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
  width: 100%;
}

ul.a {
  list-style-type: circle;
  margin-top: .25em;
  font-size: 2em;
  font-family: 'Roboto-Mono', sans-serif;
  font-size: 1.2em;
  color:  #000000;
}




.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.translucent {
  background: white;
  background: rgba(255, 255, 255, 0.95);
  padding: 0 2em 1em 2em;
  margin: 2em 0 2em 0;
}

.vertical-spacer {
  height: 1em;
}

.black {
  color: white;
  margin-top: 0;
}


.def {
  text-align: center;
  background: #DCDCDC;
  color: black;
  font-size: 15px;
  font-family: 'Roboto-Mono', sans-serif;
  font-style: italic;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid black;
}

.box {
  text-align: left;
  background: #DCDCDC;
  color: black;
  font-size: 1.15em;
  font-family: 'Roboto-Mono', sans-serif;
  font-style: italic;
  width: 80%;
  margin: auto;
  padding: 1em 1em 1em 1em;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid black;
}

.qte {
  text-align: left;
  color: black;
  font-size: 17px;
  font-family: 'Roboto-Mono', sans-serif;
  font-style: italic;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

