
{{- define "main" -}}

<article class="article">

  {{ partial "page_header" . }}

  <div class="article-container">

    <div class="article-style">
      <iframe onload="resizeIframe(this)" style = 'display: block; height:100vh;width:100%' frameborder = '0' src = '/post/{{ .Params.post_loc }}'></iframe>
    </div>
    
    {{ partial "page_footer" . }}

  </div>
</article>

<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>


{{- end -}}





